body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #f1f5f9;
    color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#form {
    width: 48%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;


    margin-top: 15vh;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

#editFofocaButton {
     background-color: #1d9bf0;
     color: white;
     border: none;
     cursor: pointer;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
     transition: background-color 0.3s ease;
     border-radius: 5px;
     padding: 10px;
 }
 
 #editFofocaButton:hover {
     background-color: #1a8cd8;
 }

 #openCommentModalButton {
    background-color: #1d9bf0;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;

    border-radius: 5px;
    padding: 10px;
}

#openCommentModalButton:hover {
    background-color: #1a8cd8;
}

#trashButton{
    background-color: rgb(230, 35, 35);
    padding: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
}

#trashButton:hover{
    background-color: rgb(127, 1, 1);
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com opacidade */
    opacity: 0; /* Inicialmente invisível */
    z-index: 999; /* Colocar acima do conteúdo */
    display: none; /* Não aparece até ser ativado */
    animation: escurecerFundo 0.5s forwards; /* Animação de escurecimento */
}

#fofoca-comentarios-titulo {
    padding-bottom: 20px;
    border-bottom: 1px solid #e0e0e0;
    font-size: 28px;
    color: #1d9bf0;
    margin-bottom: 40px;
    background-color: #0056b3;
}

input[type="text"], textarea {
    width: 80%;
    resize: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #1d9bf0;
    outline: none;
}



.fofoca {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.fofoca:hover {
    background-color: #f0f8ff;
}


.comentario-item {
    border-bottom: 1px solid #e0e0e0;
}




#fofocaDetails{
    background-color: none;
}

.user-specs{
    /* background-color: black; */
    display: flex;
    align-items: first baseline;
    justify-content: flex-start;
    gap: 0.8rem;
    margin-left: 3%;
}

#fofoca-date {
    color: gray;
    font-style: italic;
    font-size: 1.1rem;
    margin-left: 3%;
}

#fofoca-user{
    font-size: 1.2rem;
    color: #1d9bf0;
}

#fofoca-description {
    font-size: 1.1rem;
    line-height: 1.5;

    background-color: none;
    margin-top: 0px;
    margin-left: 3%;
}

#fofocaOptions{
    list-style-type: none;
    /* background-color: #ffffff; */
    
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.5rem;
}

#fofocaOptions li{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}



#backButton {
    background-color: #1d9bf0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#backButton:hover {
    background-color: #1a8cd8;
}

#comentariosList{
    background-color: none;
}

#comentarios-user-specs{
    display: flex;
    align-items: first baseline;
    justify-content: flex-start;
    gap: 0.8rem;
    margin-top:1%;
    margin-left: 3%;
}

#comentarios-usuario{
    font-size: 1.2rem;
    color: #1d9bf0;
    background-color: none;
}

#comentarios-data{
    background-color: none;
    font-style: italic;
    font-size: 1.1rem;
}

#comentarios-description{
    font-size: 1.1rem;
    line-height: 1.5;

    background-color: none;
    margin-top: 0px;
    margin-left: 3%;

}



nav {
    top: 0px;
    position: fixed;
    z-index: 998;
    height: 13vh; 
    width: 100%;
    background-color: white;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0px;
    border-bottom: 1px solid #e0e0e0;

}

#mostraUsuario{
    color: #1d9bf0;
    background-color: none;
    padding: 5px;
    margin-right: 60px;
    font-weight: bolder;
    font-size: 1.4rem;
}

a{
    text-decoration: none;
}


/* responsividade geral  */
@media (max-width: 600px){


    #mostraUsuario{
        margin-right: 10px;
        font-size: 1rem
    }

    #form{
        width: 100%;
    }


}

@media (min-width: 600px) and (max-width: 1000px){


    #mostraUsuario{

        margin-right: 30px;
        font-size: 1.2rem;
    }

    #form{
        width: 80%;

    }
}

/* Animação do overlay */
@keyframes escurecerFundo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; /* Fica totalmente visível */
    }
}

/* Estilo dos botões dentro dos modais */
.action-button {
    background-color: #1d9bf0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
   
}

.action-button:hover {
    background-color: #1a8cd8;
}

.action-button:active {
    transform: scale(0.98);
}

/* Botão de cancelar em vermelho */



.modal {
    position: fixed; /* Centralizar o modal na tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    width: 90%;
    max-width: 400px; /* Largura máxima do modal */
}

textarea {
    width: 100%; /* Ajusta a largura do textarea para ocupar o modal */
    height: 100px; /* Altura menor para o textarea */
    resize: none;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    margin-bottom: 10px;
}

textarea:focus {
    border-color: #1d9bf0;
    outline: none;
}

/* .button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    background-color: #1d9bf0;
    transition: background-color 0.3s ease;
}
 */
.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    background-color: red;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    width: 30px;
    height: 30px;

}

.close-button:hover {
    background-color: darkred;  
}