body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #f1f5f9;
    color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 0;

}

nav {
    top: 0px;
    position: fixed;
    z-index: 998;
    height: 13vh; 
    width: 100%;
    background-color: white;

    display: flex;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;

}

#user-nav{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem;
    border-radius: 0.4rem;

    margin-left: 3.5%;
}

#user-nav:hover{
    background-color: #f1efef;
}

#user-icon{
    color: #1a1a1a;
    font-size: 2rem;
}

#user-modal{
    z-index: 1001;
    background-color: #fff;
   

    position: fixed;
    left: 3.5%;
    top: 12vh;

    border: 1px solid #e0e0e0;
    border-radius: 0.4rem;
    display: none;
}

#user-modal-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
}

#user-modal-content a{
    width: 90%;
   
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.3rem;
}


#user-modal-content a:hover{
    background-color: #e0e0e0;
    cursor: pointer;
}


#form {
    width: 48%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    padding: 0.5rem;
    padding-top: 1.5rem;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

#editFofocaButton {
     background-color: #1d9bf0;
     color: white;
     border: none;
     cursor: pointer;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
     transition: background-color 0.3s ease;
     border-radius: 5px;
     padding: 10px;
 }
 
 #editFofocaButton:hover {
     background-color: #1a8cd8;
 }

 #openCommentModalButton {
    background-color: #1d9bf0;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;

    border-radius: 5px;
    padding: 10px;
}

#openCommentModalButton:hover {
    background-color: #1a8cd8;
}

#trashButton{
    background-color: rgb(230, 35, 35);
    padding: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
}

#trashButton:hover{
    background-color: rgb(127, 1, 1);
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com opacidade */
    opacity: 0; /* Inicialmente invisível */
    z-index: 999; /* Colocar acima do conteúdo */
    display: none; /* Não aparece até ser ativado */
    animation: escurecerFundo 0.5s forwards; /* Animação de escurecimento */
}



input[type="text"], textarea {
    width: 80%;
    resize: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
textarea:focus {
    border-color: #1d9bf0;
    outline: none;
}

#fofocaDetails{
    width: 94%;
    word-wrap: break-word;
}




#fofocaOptions{
    list-style-type: none;
    /* background-color: #ffffff; */
    width: 94%;
    padding-bottom: 2rem;
    padding-top: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: space-around;

   
}



#backButton {
    background-color: #1d9bf0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#backButton:hover {
    background-color: #1a8cd8;
}

#comentariosList{
    width: 94%;
} 

.comentario-item {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e0e0e0;
    word-wrap: break-word;
}



#comentarios-data{
    color: gray;
    font-style: italic;
    font-size: 1rem;
    margin-top: 1rem;
}

#buttonCriar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #1d9bf0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;
}

#buttonCriar:hover {
    background-color: #1a8cd8;
}
a {
    display: block; /* ou inline-block */
    text-decoration: none; /* para garantir que não tenha sublinhado */
}




/* Estilo dos botões dentro dos modais */
.action-button {
    background-color: #1d9bf0;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
   
}

.action-button:hover {
    background-color: #1a8cd8;
}

.action-button:active {
    transform: scale(0.98);
}

/* Botão de cancelar em vermelho */



.modal {
    position: fixed; /* Centralizar o modal na tela */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    width: 90%;
    max-width: 400px; /* Largura máxima do modal */
}

textarea {
    width: 100%; /* Ajusta a largura do textarea para ocupar o modal */
    height: 100px; /* Altura menor para o textarea */
    resize: none;
    padding: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    margin-bottom: 10px;
}

textarea:focus {
    border-color: #1d9bf0;
    outline: none;
}

/* .button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    background-color: #1d9bf0;
    transition: background-color 0.3s ease;
}
 */
.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    background-color: red;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    width: 30px;
    height: 30px;

}

.close-button:hover {
    background-color: darkred;  
}

.user-specs{
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: flex-start;
}

.user{
    font-size: 1rem;
    color: gray;
}

.display{
    font-weight: bold;
    font-size: 1.1rem;
    color: #1d9bf0; 

}

.description{
    font-size: 1.3rem;

    background-color: none;
    margin-top: 1rem;
    padding: 0px;
}

.date{
    color: gray;
    font-style: italic;
    font-size: 1rem;
    margin-top: 1rem;
}

/* responsividade geral  */

/* responsividade de celular */
@media (max-width: 600px){

    .display{
        font-size: 0.9rem;
    }

    .user{
        font-size: 0.9rem;
    }

    .description{
        font-size: 1.1;
    }

    .date{
        font-size: 0.8rem;
    }



    #form{
        width: 100%;
    }
}

/* responsividade de tablet */
@media (min-width: 600px) and (max-width: 1000px){



    #form{
        width: 80%;

    }

    .display{
        font-size: 1rem;
    }

    .user{
        font-size: 1rem;
    }

    .description{
        font-size: 1.2;
    }

    .date{
        font-size: 0.9rem;
    }
}

/* Animação do overlay */
@keyframes escurecerFundo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; /* Fica totalmente visível */
    }
}