body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #f1f5f9; /* Azul claro */
    color: #1a1a1a; /* Texto escuro */
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 28px;
    color: #1d9bf0;
    margin-bottom: 20px;
}

#form {
    width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    padding: 20px;
    margin-bottom: 40px;
}

input[type="text"],
textarea {
    width: 80%;
    resize: none;
    padding: 10px;
    border: 1px solid #ccc; /* Borda padrão */
    border-radius: 5px; /* Borda arredondada */
    margin-bottom: 15px; /* Espaçamento entre campos */
    font-size: 16px; /* Tamanho da fonte */
    transition: border-color 0.3s ease; /* Transição suave para a borda */
}

input[type="text"]:focus,
textarea:focus {
    border-color: #1d9bf0; /* Cor da borda ao focar */
    outline: none; /* Remove o contorno padrão */
}

.button {
    background-color: #1d9bf0; /* Cor do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove borda */
    border-radius: 5px; /* Borda arredondada */
    padding: 10px 15px; /* Espaçamento interno */
    cursor: pointer; /* Cursor de ponteiro */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
}

.button:hover {
    background-color: #1a8cd8; /* Cor do botão ao passar o mouse */
}

.fofoca {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    background-color: #ffffff;
    transition: background-color 0.3s ease;
}

.fofoca:hover {
    background-color: #f0f8ff;
}

h3 {
    font-size: 18px;
    color: #1d9bf0;
    margin-bottom: 0px;
}

p {
    font-size: 16px;
    color: #555;
}

#buttonCriar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #1d9bf0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;
}

#buttonCriar:hover {
    background-color: #1a8cd8;
}

#buttonCriar i {
    font-size: 32px;
    font-weight: bold;
}

.comentarioContainer{
    border-bottom: 1px solid #e0e0e0;
}    

/* #dataFor{
    position: relative;
    left: 10%;
    top: -35px;
}

#fofocaDetails{
    height: -400px;
} */

#mostraUsuario {
    background-color: #ffffff; /* Fundo branco */
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #1da1f2; /* Cor azul para o texto */
    font-size: 16px;
    margin-bottom: 20px; /* Espaçamento inferior */
    text-align: center; /* Centralizar texto */
}