body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f4f7f9;
}

/* Estilizar o título dentro do formulário */
 h2 {
    font-size: 24px;
    color: #1da1f2;
    text-align: center; /* Centralizar o título */
}

form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
    width: 25%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    font-size: 18px;
    color: #333;

    align-self: flex-start;
}

/* Estilos para os campos de usuário, e senha */
#usuario, #senha {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: border 0.3s ease;
}

#usuario:focus, #senha:focus {
    border-color: #1da1f2;
    outline: none;
}

/* Estilo para o botão de LOGIN */
#entrarButton {
    background-color: #1da1f2;
    color: white;
    border: none;
    font-size: 15px;
    border-radius: 25px;
    width: 40%;

    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 20px; /* Espaçamento entre o botão e o link */
}

#buttonContent{
    padding: 0;
}

#entrarButton:hover {
    background-color: #1991da;
}

#entrarButton:active {
    background-color: #147bb1;
}

a {
    color: #1da1f2;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
    margin-top: 10px;
}

a:hover {
    color: #1991da;
}

a:active {
    color: #147bb1;
}

#alertERROR {
    background-color: none;
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    width: 100%;
    color: #da1919;
    font-size: 14px;
    text-align: center;
}

@media (max-width: 600px){
    #entrarForm{
        width: 80%;
    }
}

@media (min-width: 600px) and (max-width: 1050px){
    #entrarForm{
        width: 55%;
    }
}
