body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #f1f5f9;
    color: #1a1a1a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
    display: none; /* Inicialmente oculto */
    z-index: 999; /* Fica atrás do modal */
}



#timeline {
    width: 48%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15vh;
}


.fofoca {
    width: 94%;
    border-bottom: 1px solid #e0e0e0;
    padding: 0.5rem;
    padding-top: 1.5rem;
    transition: background-color 0.3s ease;

}

.fofoca:hover {
    background-color: #f1efef
}
.button:hover {
    background-color: #e8f5fd;
}

#buttonCriar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #1d9bf0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: background-color 0.3s ease;
}

#buttonCriar:hover {
    background-color: #1a8cd8;
}
a {
    display: block; /* ou inline-block */
    text-decoration: none; /* para garantir que não tenha sublinhado */
}


nav {
    top: 0px;
    position: fixed;
    z-index: 998;
    height: 13vh; 
    width: 100%;
    background-color: #fff;

    display: flex;
    align-items: center;
    margin: 0px;
    border-bottom: 1px solid #e0e0e0;

}



#user-nav{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.4rem;
    border-radius: 0.4rem;
    margin-left: 3.5%;
}

#user-nav:hover{
    background-color: #f1efef;
    cursor: pointer;
}

#user-icon{
    font-size: 2rem;
}


#user-modal{
    z-index: 1001;
    background-color: #fff;
   

    position: fixed;
    left: 3.5%;
    top: 12vh;

    border: 1px solid #e0e0e0;
    border-radius: 0.4rem;
    display: none;
}

#user-modal-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start
}

#user-modal-content a{
    width: 90%;
   
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.3rem;
}


#user-modal-content a:hover{
    background-color: #e0e0e0;
    cursor: pointer;
}

#creation-modal{
    position: fixed;
    top: 50px;
    background-color: #fff;
    width: 650px;
    height: 350px;
    z-index: 1000;
    border-radius: 20px;

    display: none;
}

#creation-modal-content{
    width: 100%;
    height: 100%;
    display: flex;  
    flex-direction: column;  
    align-items: center;
    justify-content: center;
}

#creation-modal-content-user{
    position: absolute;
    top: 1rem;
    left: 1rem;
}
#creation-modal-content-user-content{
    display: flex;
    gap: 0.5rem;
    background-color: none;
}

#creation-modal-content-close{

    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: none;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    
}

#creation-modal-content-close:hover{

    background-color: #e0e0e0;
    cursor: pointer;
}

#creation-modal-content-fofoca{
    background-color: none;
    width: 90%;
    height:55%;
    border-radius: 10px;
    position: absolute;
    bottom: 4.6rem;
}

#creation-modal-content-fofoca:hover{
    cursor: copy;
}

#creation-modal-content-fofoca-content{
    resize: none;
    width: 85%;
    height: 56%;
    
}

#creation-modal-content-post{
    position: absolute;
    bottom: 1.2rem;
    right: 4rem;
    background-color: #1d9bf0;
    border-radius: 0.5rem;
    
}

#creation-modal-content-post-content{
    color: white;
    font-weight: bold;
    padding: 0.5rem;
}

#creation-modal-content-post-content:hover{
    background-color: darkblue;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.5rem;
}
                
.user-specs{
    
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    justify-content: flex-start;
}

#mostraUsario{
    background-color: #1a1a1a;
}

.user{
    font-size: 1rem;
    color: gray;
}

.display{
    font-weight: bold;
    font-size: 1.1rem;
    color: #1d9bf0; 
}

.description{
    font-size: 1.3rem;
    margin-top: 1rem;
    width: 100%;
    padding: 0px;
    color: black;

    word-wrap: break-word;
    white-space: normal;
}

.date{
    color: gray;
    font-style: italic;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media (max-width: 600px){
    #timeline{
        width: 100%;
    }

    .display{
        font-size: 0.9rem;
    }

    .user{
        font-size: 0.9rem;
    }

    .description{
        font-size: 1.1;
    }

    .date{
        font-size: 0.8rem;
    }


}

@media (min-width: 600px) and (max-width: 1000px){
    #timeline{
        width: 80%;

    }

    .display{
        font-size: 1rem;
    }

    .user{
        font-size: 1rem;
    }

    .description{
        font-size: 1.2;
    }

    .date{
        font-size: 0.9rem;
    }
}