<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Fofoca</h1>
    <form id="fofocaForm">
        <label for="titulo">Titulo:</label><br>
        <input type="text" name="titulo" id="titulo" required><br>
        
        <label for="conteudo">Conteudo:</label><br>
        <textarea type="text" name="conteudo" id="conteudo" required></textarea><br>
        
        <button type="submit">Criar</button>
    </form>
    

    <script src="script.js"></script>
</body>
</html>