<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline</title>
    <!-- conexão com o CSS -->
    <link rel="stylesheet" href="/public/style/ConvidadoTimeline.style.css">
    <!-- conexão com Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <h1>Fofocas</h1>

    <!-- div da timeline -->
    <div id="timeline"></div>

    <a href="http://localhost:3000/cadastro" id="buttonCriar">
        <i class="bi bi-person-plus"></i>
    </a>

    <!-- conexão com o script que carregará as fofocas -->
    <script src="/public/script/Timeline.script.js"></script>
</body>
</html>
