<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORZH</title>
    <!-- RESET CSS -->
     <link rel="stylesheet" href="/public/style/reset.css">

    <link rel="stylesheet" href="/style/ConvidadoTimeline.style.css">
    <!-- conexão com Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <nav>

    </nav>

    <!-- div da timeline -->
    <div id="timeline"><a href="../views/edicao.html"></a></div>

    <a href="/cadastro" id="buttonCriar">
        <i class="bi bi-person-plus"></i>
    </a>

    <!-- conexão com o script que carregará as fofocas -->
    <script src="/script/Timeline.script.js"></script>
</body>
</html>
