<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORZH</title>
    <!-- RESET CSS -->
    <!-- RESET CSS -->
    <link rel="stylesheet" href="/public/style/reset.css">
            <!-- conexão com CSS -->
    <link rel="stylesheet" href="/style/Create.style.css">
</head>
<body>
    <div class="cima"> <div id="mostraUsuario">
        Carregando usuário...
    </div></div>
    
    <h1>Criar fofoca</h1>
    
    <!-- formulario para criação de fofocas -->
    <form id="fofocaForm" action="/fofocas/criar">
        <label for="conteudo">Conteudo:</label><br>
        <textarea name="conteudo" id="conteudo" required></textarea><br>
        
        <button type="submit" id="buttonCriar">Criar</button>
    </form>
    <!-- botão para voltar para pagina principal -->
    <a href="/fofocas"><button type="submit" id="buttonVoltar">Voltar</button></a>

    <!-- conexão do script -->
    <script src="/script/Create.script.js"></script>
</body>
</html>