<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Fofoca</title>
    <script src="/script/fofoca.script.js" defer></script>
    <link rel="stylesheet" href="/style/fofoca.style.css">
</head>
<body>

    <!-- <form id="form">
        <div id="fofocaDetails"></div>
        <textarea id="commentText" rows="4" cols="50" placeholder="Escreva seu comentário..."></textarea><button type="submit">Enviar Comentário</button>
    </form> 

    <form id="form">
        <h1>Enviar Comentário</h1>
        <input type="text" id="commentText" placeholder="Digite seu comentário..." required>
        <button type="submit" class="button">Enviar</button>
    </form> -->

    <form id="form">
        <div id="fofocaDetails"></div>
        <h1>Comentários</h1>
        <textarea id="commentText" rows="4" placeholder="Escreva seu comentário..." required></textarea>
        <button type="submit" class="button">Enviar Comentário</button>
        <div id="comentarioDiv"></div>
    </form>

</body>
</html>