<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORZH</title>
    <!-- RESET CSS -->
    <link rel="stylesheet" href="/public/style/reset.css">
    <link rel="stylesheet" href="/style/Login.style.css">
</head>
<body>
    <h2>Entrar</h2>
    <form id="entrarForm">
        <label for="usuario">Usuario:</label><br>
        <input type="text" name="usuario" id="usuario" required><br>

        <label for="senha">Senha:</label><br>
        <input type="password" name="senha" id="senha" required><br>

        <p id="alertERROR"></p>
        
        <button type="submit" id="entrarButton"><p id="buttonContent">Entrar</p></button>

        <a href="/cadastro">Não tem uma conta? Crie uma</a>
        <a href="/fofocas/convidado">Entrar como convidado</a>
    </form>

    <script src="/script/Login.script.js"></script>
</body>
</html>
