<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - <span id="profile-username">@usuário</span></title> <!-- Título dinâmico -->
    <link rel="stylesheet" href="/style/Perfil.style.css">
    <script src="/script/Perfil.script.js" defer></script>
</head>
<body>
    <div id="logout-button" class="bi bi-box-arrow-left"></div>

    <!-- Conteúdo do Perfil -->
    <section id="profile-content">
        <!-- Informações do Usuário -->
        <div id="profile-info">
            <div class="profile-header">
                <div id="profile-details">
                    <h1><span id="profile-username"></span></h1>
                    <p id="display-name"></p>
                    <p id="bio">bio?</p>
                    <p id="account-creation"></p>
                </div>
            </div>
        </div>

        <!-- Tópicos ou Posts -->
        <div id="profile-tweets">
            <h2>Tweets</h2>
  
    </section>

    <div id="timeline"></div>

</body>
</html>
