<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil - <span id="profile-username">@usuário</span></title>
    <link rel="stylesheet" href="/style/Perfil.style.css">
    <script src="/script/Perfil.script.js" defer></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <div id="overlay"></div>

    <nav>
        <div id="user-nav">
                <div id="user-icon" class="bi bi-person-circle"></div>
                <div id="mostraUsuario" class="user-specs">
                    <div id='nav-display' class='display'></div>
                    <div id='nav-user' class='user'></div>
                </div>
        </div>
        <!-- <div id="logout-button" class="bi bi-box-arrow-left"></div> -->
    </nav>


    <div id="user-modal">
        <div id="user-modal-content">
            <a id="user-modal-content-profile">Perfil</a>
            <a>Adicionar conta existente</a>
            <a id="logout-button">Sair</a>
        </div>
    </div>

    <!-- Conteúdo do Perfil -->
        
        <!-- <div id="profile-info">
            <div class="profile-header">
                <div id="profile-details">
                    <h1><span id="profile-username"></span></h1>
                    <p id="display-name"></p>
                    <p id="bio">bio?</p>
                    <p id="account-creation"></p>
                </div>
            </div>
        </div> -->

        <!-- Tópicos ou Posts -->
    
  

    <div id="timeline-container">
        
    </div>

</body>
</html>
