<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/public/style/Register.style.css">
</head>
<body>
    <form id="registerForm">
        <h2>Cadastrar Conta</h2>
        <label for="usuario">Usuario:</label><br>
        <input type="text" name="usuario" id="usuario" required><br>
        
        <label for="email">Email:</label><br>
        <input type="email" name="email" id="email" required><br>

        <label for="senha">Senha:</label><br>
        <input type="password" name="senha" id="senha" required><br>

        <p id="alertPassword"></p>
        
        <button type="submit" id="cadastroButton">cadastrar</button>

        <a href="http://localhost:3000/login">Já tem uma conta? Faça login</a>
        <a href="http://localhost:3000/fofocas/convidado">Entrar como convidado</a>
    </form>

    <script src="/public/script/Register.script.js"></script>
</body>
</html>
