<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timeline</title>
    <!-- conexão com o CSS -->

    <!-- css da timeline -->
    <link rel="stylesheet" href="/style/Timeline.style.css">
    <!-- conexão com Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    
</head>
<body>
    <h1>Fofocas</h1>

    <div id="mostraUsuario" style="position: fixed; top: 10px; right: 10px; background-color: #f0f0f0; padding: 10px; border-radius: 5px;">
        Carregando usuário...
    </div>
    
    <!-- botão para criação de fofoca -->
    <a href="/fofocas/criar" id="buttonCriar">
        <i class="bi bi-plus"></i>
    </a>

    <!-- div da timeline -->
        <div id="timeline"></div>

    <!-- conexão com o script que carregará as fofocas -->
    <script src="/script/Timeline.script.js"></script>
</body>
</html>
