<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORZH</title>

    <!-- css da timeline -->
    <link rel="stylesheet" href="/style/Timeline.style.css">
    <!-- conexão com Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <!-- conexão com o script que carregará as fofocas -->
    <script src="/script/Timeline.script.js"></script>
</head>
<body>

    <nav>
        <p id="mostraUsuario"></p>
        <button id="logout-button">Deslogar</button>
    </nav>

    
    
    <!-- botão para criação de fofoca -->
    <a href="/fofocas/criar" id="buttonCriar">
        <i class="bi bi-plus"></i>
    </a>

    <!-- div da timeline -->
        <div id="timeline"></div>
</body>
</html>
